@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
body
{
	background: #000 url(bestbg.jpg);
	background-attachment: fixed;
	background-blend-mode: hard-light;
}
.container
{
	position: absolute;
	top: 80px;
	left: 100px;
	right: 100px;
	bottom: 80px;
	background: url(bestbg.jpg);
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5),
				0 0 0 100px rgba(0, 0, 0, .1);
}
.container h2
{
	text-align: center;
	font-size: 7em;
	line-height: 0.75em;
	color: #333;
	margin-top: -80px;
}
.container h2 span
{
	display: block;
	font-weight: 300;
	letter-spacing: 6px;
	font-size: 0.3em;
}
.countdown
{
	display: flex;
	margin-top: 50px;
}
.countdown div
{
	position: relative;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background: #333;
	color: #fff;
	margin: 0 15px;
	font-size: 3em;
	font-weight: 500;

}
.countdown div:before
{
	content: '';
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 100%;
	height: 35px;
	background: #d9ad73;
	color: #333;
	font-size: 0.35em;
	line-height: 35px;
	font-weight: 300;
}
.countdown #day:before
{
	content: 'Days';
}
.countdown #hour:before
{
	content: 'Hours';
}
.countdown #minute:before
{
	content: 'Minutes';
}
.countdown #second:before
{
	content: 'Seconds';
}















